<!-- app/views/users/index.html.erb -->
<h1>List of Users</h1>
<% @posts.each do |post| %>
  <div>
    <%= link_to post.name, post %>
    <%= image_tag post.avatar.variant(resize_to_fill: [100, 100]) if post.avatar.attached? %>
  </div>
<% end %>
